<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kargo.dao.CodeOpenidMapper">
  <resultMap id="BaseResultMap" type="com.kargo.model.CodeOpenid">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, openid, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from code_openid
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from code_openid
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kargo.model.CodeOpenid">
    insert into code_openid (id, code, openid, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kargo.model.CodeOpenid">
    insert into code_openid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kargo.model.CodeOpenid">
    update code_openid
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kargo.model.CodeOpenid">
    update code_openid
    set code = #{code,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from code_openid where 1 = 1
    <if test="record.id != null">
      and id = #{record.id,jdbcType=INTEGER}
    </if>
    <if test="record.code != null">
      and code = #{record.code,jdbcType=VARCHAR}
    </if>
    <if test="record.openid != null">
      and openid = #{record.openid,jdbcType=VARCHAR}
    </if>
    <if test="record.createTime != null">
      and create_time = #{record.createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="record.updateTime != null">
      and update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="pageable!=null">
      <if test="pageable.offset == 0 and pageable.pageSize > 0">
        limit ${pageable.pageSize}
     </if>
	 <if test="pageable.offset > 0 and pageable.pageSize > 0">
        limit ${pageable.offset}, ${pageable.pageSize}
     </if>
    </if>
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(1)
    from code_openid where 1 = 1
    <if test="record.id != null">
      and id = #{record.id,jdbcType=INTEGER}
    </if>
    <if test="record.code != null">
      and code = #{record.code,jdbcType=VARCHAR}
    </if>
    <if test="record.openid != null">
      and openid = #{record.openid,jdbcType=VARCHAR}
    </if>
    <if test="record.createTime != null">
      and create_time = #{record.createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="record.updateTime != null">
      and update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>